#Ignored files

#OS
.DS_Store

#Bundler
.bin
.bundle

#Awestruct
/.awestruct
/.sass-cache
/_site
/_tmp
/.awestruct

#Editor
*.tmproj
*.sublime-workspace
*.sublime-project

#Ruby env
/.rvmrc
/.ruby-gemset
/.ruby-version

#Eclipse
.project
.settings

# Vim
.*.swp
.*.swo
