Options +FollowSymlinks
RewriteEngine on

IndexIgnore *
DirectoryIndex index.html
ErrorDocument 404 /404.html

#beanvalidation.org/issues
RewriteCond %{HTTP_HOST} ^beanvalidation.org$ [OR]
RewriteCond %{HTTP_HOST} ^test.beanvalidation.org$ [OR]
RewriteCond %{HTTP_HOST} ^www.beanvalidation.org$
RewriteRule ^issues$ "https\:\/\/hibernate\.atlassian\.net\/browse\/BVAL" [R=302,L]
RewriteRule ^proposals$ "/roadmap/" [R=302,L]
RewriteRule ^proposals/$ "/roadmap/" [R=302,L]
RewriteRule ^news/2012/08/31/big-push-on-to-bean-validation/$ "/news/2012/08/31/big-push-on-bean-validation/" [R=302,L]
RewriteRule ^downloads/javaspotlight-119-interview.mp3$ "http://traffic.libsyn.com/jbosscommunityasylum/javaspotlight-119-interview.mp3" [R=302,L]
