---
layout: home
author: Emmanuel Bernard
title: Jakarta Bean Validation
---
:asciidoc
  == What is Jakarta Bean Validation

  Jakarta Bean Validation is a Java specification which

  - lets you express constraints on object models via annotations
  - lets you write custom constraints in an extensible way
  - provides the APIs to validate objects and object graphs
  - provides the APIs to validate parameters and return values of methods
  and constructors
  - reports the set of violations (localized)
  - runs on Java SE and is integrated in Jakarta EE 9 and 10

  [source,java]
  ----
  public class User {

      private String email;

      @NotNull @Email
      public String getEmail() {
        return email;
      }

      public void setEmail(String email) {
        this.email = email;
      }
  }

  public class UserService {

    public void createUser(@Email String email,
                           @NotNull String name) {
      ...
    }
  }
  ----

  While you can run validation manually, it is more natural to
  let other specifications and frameworks validate data at the right
  time (user input in presentation frameworks, business service
  execution by CDI, entity insert or update by JPA).

  In other words, _run once, constrain anywhere_.

.spec-buttons.text-center
  %a.ui.button.large.green.right.labeled.icon(href='/3.0/')
    %i.icon.arrow.right
    Learn more and get the specification...
