---
title: Bean Validation 
layout: default
author: Emmanuel Bernard
---
%h1 Bean Validation

#bv-two-columns-two-third
  #bv-column-two-third
    :markdown
      Welcome to the Bean Validation specification website. You will find information about the stable 
      version 1.0 as well as version 1.1 currently being worked on.
  #bv-column-one-third
    :markdown
      - [1.1 latest working snapshot](/latest-draft/)
      - [1.1 JCP published draft](/1.1/)
      - [1.0 (stable version)](/1.0/)

#bv-two-columns
  #bv-column-left
    :markdown
      ## What is Bean Validation
      
      Bean Validation is a Java specification which:
      
      * provides a unified way of declaring and defining constraints on an object model.
      * defines a runtime engine to validate objects
      
      <pre>public class User {
          &#64;NotNull &#64;Email 
          public String getEmail() { return email; }
          public void setEmail(String email) { 
            this.email = email; 
          }
          private String email;
      }
      </pre>
      
      [Learn more...](intro)
            
  #bv-column-right
    :markdown
      ## Bean Validation 1.1
      
      [The first early draft is available][edr1].

      Bean Validation 1.1 is a specification proposal which aims at improving upon the
      initial version. Its JCP matricule is [JSR-349](http://jcp.org/en/jsr/detail?id=349). 
      Like all Red Hat lead JSRs, Bean Validation is made in the open in an open source 
      fashion. You are encouraged to come contribute to make a difference.
      
      You can check out the [Bean Validation 1.1 goals](roadmap) or read the 
      [first public draft][edr1].
      
      **[Provide feedback or participate...](/contribute)**

      [edr1]: /1.1/

#bv-bottom
  :markdown  
    ## [![Feed](/images/feed-icon-28x28.png)](/news/news.atom) Latest news  

    Stay up to date, subscribe to the [news feed](/news/news.atom).
  #latest-news
    - for post in site.posts[0,4] do
      .item
        %h2 
          %a{:href=>post.url}= post.title
        %h3 #{post.date.strftime( '%d %B %Y' )}
        .body
          #{summarize( html_to_text( post.content ), 50 )}
        .tail
          %a{:href=>post.url} Read more
    #even-more
      %a{:href=>'/news'}Even more news!