---
title: Bean Validation 
layout: default
author: Emmanuel Bernard
---
%h1 Bean Validation

#bv-two-columns-two-third
  #bv-column-two-third
    :markdown
      Welcome to the Bean Validation specification website.
  #bv-column-one-third
    :markdown

#bv-two-columns
  #bv-column-left
    :markdown
      ## What is Bean Validation

      Bean Validation is a Java specification which

      - lets you express constraints on object models via annotations
      - lets you write custom constraints in an extensible way
      - provides the APIs to validate objects and object graphs
      - provides the APIs to validate parameters and return values of methods
        and constructors
      - reports the set of violations (localized)
      - runs in Java SE but is integrated in Java EE (6 and 7)
      
      <pre>public class User {
          &#64;NotNull &#64;Email 
          public String getEmail() { return email; }
          public void setEmail(String email) { 
            this.email = email; 
          }
          private String email;
      }
      
      public class UserService {
        public void createUser(&#64;Email email,
                               &#64;NotNull String name) {
          }
      }
      </pre>
      
      While you can run validation manually, it is more natural to
      let other specifications and framework validate data at the right
      time (user input in presentation frameworks, business service
      execution by CDI, entity insert or update by JPA).

      In other words, _run once, constrain anywhere_.

      [Learn more and get the specification...](/1.1/)
            
  #bv-column-right
    #hero
      %span
        %a{:href=>'/1.1/'} Get Bean Validation 1.1
    :markdown  

      ## [![Feed](/images/feed-icon-28x28.png)](/news/news.atom) Latest news  

      Stay up to date, subscribe to the [news feed](/news/news.atom).
    #latest-news
      - for post in site.posts[0,3] do
        .item
          %h2 
            %a{:href=>post.url}= post.title
          %h3 #{post.date.strftime( '%d %B %Y' )}
          .body
            #{summarize( html_to_text( post.content ), 50 )}
          .tail
            %a{:href=>post.url} Read more
      #even-more
        %a{:href=>'/news'}Even more news!

//#bv-bottom
