---
title: Jakarta Bean Validation 2.0
layout: base
author: Guillaume Smet
---

.jumbotron.small
  .ui.container.grid.stackable
    .column.ten.wide
      %h1= site.title
      %h2= page.title
    .column.six.wide
      .ui.segment
        %p
          Jakarta Bean Validation 2.0 was published in August 2019.
        %p It's part of Jakarta EE 8 (but can of course be used with plain Java SE as the previous releases).

.ui.container.page-content
  .spec-buttons.text-center
    %a.ui.button.labeled.icon.green.large(href="/2.0/spec/")
      %i.icon.book
      Jakarta Bean Validation 2.0 specification
    %a.ui.button.labeled.icon.green.large(href="https://search.maven.org/search?q=g:jakarta.validation%20AND%20a:jakarta.validation-api&core=gav")
      %i.icon.cube
      API Artifact
    %a.ui.button.labeled.icon.green.large(href="https://docs.jboss.org/hibernate/beanvalidation/spec/2.0/api/")
      %i.icon.code
      API JavaDocs

.content-banner
  .ui.container.grid.divided.stackable
    .twelve.wide.column
      %h2 Certified implementations
      %table.ui.table.celled.striped.unstackable
        %thead
          %tr
            %th(colspan='2') Name
            %th Version
            %th RI
        %tbody
          %tr
            %td(width='30')
              %img(src='/images/hibernate.png')
            %td
              %a(href='http://hibernate.org/validator/') Hibernate Validator
            %td
              %a(href='http://hibernate.org/validator/releases/') 6.0.17.Final
            %td.text-center(width='30')
              %i.icon.check.circle.green.large
    .four.wide.column
      %h2 TCK
      .ui.segment
        %p
          The TCK for Jakarta Bean Validation 2.0 can be found
          %a(href="/2.0/tck/") here
          \.

.ui.container#content
  :asciidoc
    == Changes between Jakarta Bean Validation 2.0 and Bean Validation 2.0

    There are no changes between Jakarta Bean Validation 2.0 and Bean Validation 2.0 except for the GAV: it is now `jakarta.validation:jakarta.validation-api`.

    == Feedback

    Do you have feedback? Talk to us:

    - on our https://accounts.eclipse.org/mailing-list/bean-validation-dev[mailing list]
    - in the https://github.com/eclipse-ee4j/beanvalidation-api/issues[API issue tracker] for API related issues
    - in the https://github.com/eclipse-ee4j/beanvalidation-spec/issues[Specification issue tracker] for specification related issues
    - in the https://github.com/eclipse-ee4j/beanvalidation-tck/issues[TCK issue tracker] for TCK related issues

    If you want to take the next step and contribute, read link:/contribute[how to contribute].
