---
title: News
layout: news_base
author: Emmanuel Bernard
---

- for post in page.posts
  %article.blogpost
    = partial( 'blog/post.html.haml', { :post => post} )
    .disqus-comments-link
      = post.disqus_comments_link

= page.posts.semantic_ui_pager_links
