---
title: News
layout: news_base
author: Emmanuel Bernard
---

- for post in page.posts
  %article.post
    - puts "post=#{post}"
    = partial('article_header.html.haml', { :title => post.title, :author => post.author, :date => post.date, :tags => post.tags, :url => post.url})
    .body
      ~ post.content
      = post.disqus_comments_link

= page.posts.links
