#newsfeed
  %h2
    %a{:href=>"#{relative('/news/news.atom')}"}<
      %img{:src=>"#{relative('/images/feed-icon-28x28.png')}", :alt=>"atom feed"}
    %a{:href=>"#{relative('/news/news.atom')}"}
      Latest news
  #newsfeed-message
    Stay up to date, subscribe to the&nbsp;
    %a{:href=>"#{relative('/news/news.atom')}"}>< news feed
    \.
