#newsfeed
  %h2
    %a{:href=>"/news/news.atom"}<
      %img{:src=>"/images/feed-icon-28x28.png", :alt=>"atom feed"}
    %a{:href=>"/news/news.atom"}
      Latest news
  #newsfeed-message
    Stay up to date, subscribe to the&nbsp;
    %a{:href=>"/news/news.atom"}>< news feed
    \.
