@import "patternfly";

header .navbar.navbar-default {
    background: #040404!important;
    border-bottom: 0!important;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-top: 2px solid #1688c0;
    font-size: 13px;
    margin-bottom: 0;
}
