// customizing the PatternFly theme
$font-size-base: 14px;
$navbar-pf-bg-color: transparent;
$navbar-pf-border-color: transparent;
$navbar-pf-color: #0099d3;
$navbar-pf-active-color: inherit;
$navbar-pf-icon-bar-bg-color: $navbar-pf-color;
//$navbar-pf-alt-navbar-toggle-icon-bar-hover-bg: $navbar-pf-color;
@import "patternfly";


$overview-top-margin: 40px;
$jumbotron-margin-bottom: 30px;

@mixin border-bottom {
   border-bottom: 1px solid $gray-lighter;
}


.navbar-pf {
  border-bottom: 1px solid $gray-lighter;
}

@media (min-width: 768px) {
  header + .container {
    margin-top: $overview-top-margin;
  }
  .jumbotron + .container {
    margin-top: ( $overview-top-margin - $overview-top-margin );
  }

  .sidebar-right {
    border-left: 1px solid $gray-lighter;
  }
  #even-more {
    margin-bottom: 1em;
  }

}

.jumbotron {
  background-image: url(../images/backgrounds/bedge_grunge.png);
  padding-top: 50px;
  padding-bottom: 60px;
  margin-bottom: $jumbotron-margin-bottom;
  h1, p {
    font-weight: 100;
    line-height: 1.2;
    text-align: center;
  }
  h1 {
    font-size: 32px;
  }
  p {
    font-size: 24px;
  }

  .btn-spec-11 {
    background-color: #64ba5b;
    border-color: #63b55b;
    color: #fff;
    &:hover {
      background-color: #3f9c35;
      border-color: #37892f;
    }
  }

  .btn-spec-20 {
    background-color: #ee9c4a;
    border-color: #f6902a;
    color: #fff;
    &:hover {
      background-color: #ec7a08;
      border-color: #d36d07;
    }
  }
}

@media (min-width: 480px) {
  .jumbotron h1 {
    font-size: 40px;
  }
}
@media (min-width: 768px) {
  .jumbotron h1 {
    font-size: 52px;
  }
}

#newsfeed-message {
  @include border-bottom;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #ae5500;
}

h1, .h1 {
  font-weight: 600;
}

h2, .h2 {
  font-weight: 400;
}

a {
  color: #0066cc;
}

article.post {
  header {
    margin-top: 1em;
    margin-bottom: 2em;
    & > span.tags {
      margin-left: 1em;
    }
  }
  .body {
    margin-bottom: 2em;
  }
  @include border-bottom;
  // hide last HR
  &:last-of-type {
    border-bottom: none;
  }
}

.pagination-links {
  margin-top: 2em;
  text-align: center;
  .current-page {
    @extend .label;
    @extend .label-default;
  }
  .page-link, .previous-link, .next-link {
    @extend .label;
    @extend .label-info;
  }
  .skip {
    padding: 0.5em;
    margin: 0.25em;
  }
}

a.news-link {
  display: block;
  margin-bottom: 0.5em;
}

#widget-footer
#logo-redhat {
    background: url(../images/redhat-logo.svg) no-repeat;
    display: block;
    height: 25px;
    text-indent: -9999px;
    width: 78px;
}

@media (max-width: 767px) {
  #widget-footer
  #logo-redhat {
  }

}
@media (min-width: 768px) {
  #widget-footer
  #logo-redhat {
    float: right;

  }
}

.tail {
  margin-top: 1em;
  text-align: right;
}

// make sure prettyprint does not override those rules
pre.prettyprint {
  padding: 1em !important;
  border: 1px solid #ccc !important;
}

// merge asciidoctor's tableblock style with patternfly's table table-striped table-bordered styles
table {
  @extend .table;
  @extend .table-striped;
  @extend .table-bordered;
}

td.valign-top, td.icon {
  vertical-align: middle;
}

p.tableblock {
  margin: 0;
  padding: 10px;

  .image {
  }
}

// asciidoctor admonition blocks

.admonitionblock td.content>.title {
  line-height:1.45;
  color:#7a2518;
  font-weight:400;
  margin-top:0;
  margin-bottom:.25em
}

span.icon>.fa{
  cursor:default
}

.admonitionblock>table {
  border-collapse:separate;
  border:0;
  background:none;
  width:100%
}

.admonitionblock>table {
  td.icon { text-align:center;width:80px }
  td.icon { 
    img { max-width:none }
    .title {
      font-weight:bold;
      font-family:"Open Sans","DejaVu Sans",sans-serif;
      text-transform:uppercase;
    }
  }

  td.content {
    padding-left:1.125em;
    padding-right:1.25em;
    border-left:1px solid #ddddd8;
    color:rgba(0,0,0,.6)
  }
}

.admonitionblock>table td.content>:last-child>:last-child{
  margin-bottom:0
}

.admonitionblock {
  td.icon [class^="fa icon-"] {
    font-size:2.5em;
    cursor:default;
  }

  td.icon {
    .icon-note:before {
      content:"\f05a";
      color:#19407c;
    }
    .icon-tip:before {
      content:"\f0eb";
    }
    .icon-warning:before {
      content:"\f071";
      color:#bf6900;
    }
    .icon-caution:before {
      content:"\f06d";
      color:#bf3400;
    }
    .icon-important:before {
      content:"\f06a";
      color:#bf0000
    }
  }
}

.navbar-pf .navbar-nav > li > a {
  padding-left: 13px;
  padding-right: 13px;
}

.navbar-pf .navbar-primary > li > a.glow {
  color: #c12110;
  text-shadow: 0 0 15px #2f0804;
}
