// customizing the PatternFly theme
$font-size-base: 14px;
$navbar-pf-bg-color: transparent;
$navbar-pf-border-color: transparent;
$navbar-pf-color: #0099d3;
$navbar-pf-active-color: inherit;
@import "patternfly";

$overview-top-margin: 40px;
$jumbotron-margin-bottom: 30px;

@mixin border-bottom {
   border-bottom: 1px solid $gray-lighter;
}


.navbar-pf {
  border-bottom: 1px solid $gray-lighter;
}

@media (min-width: 768px) {
  header + .container {
    margin-top: $overview-top-margin;
  }
  .jumbotron + .container {
    margin-top: ( $overview-top-margin - $overview-top-margin );
  }

  .sidebar-right {
    border-left: 1px solid $gray-lighter;
  }
  #even-more {
    margin-bottom: 1em;
  }

}

.jumbotron {
  background-image: url(../images/backgrounds/bedge_grunge.png);
  padding-top: 50px;
  padding-bottom: 60px;
  margin-bottom: $jumbotron-margin-bottom;
  h1, p {
    font-weight: 100;
    line-height: 1.2;
    text-align: center;
  }
  h1 {
    font-size: 32px;
  }
  p {
    font-size: 24px;
  }
}
@media (min-width: 480px) {
  .jumbotron h1 {
    font-size: 40px;
  }
}
@media (min-width: 768px) {
  .jumbotron h1 {
    font-size: 52px;
  }
}

#newsfeed-message {
  @include border-bottom;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

article.post {
  header {
    margin-top: 1em;
    margin-bottom: 2em;
    & > span.tags {
      margin-left: 1em;
    }
  }
  .body {
    margin-bottom: 2em;
  }
  @include border-bottom;
  // hide last HR
  &:last-of-type {
    border-bottom: none;
  }
}

.pagination-links {
  margin-top: 2em;
  text-align: center;
  .current-page {
    @extend .label;
    @extend .label-default;
  }
  .page-link, .previous-link, .next-link {
    @extend .label;
    @extend .label-info;
  }
  .skip {
    padding: 0.5em;
    margin: 0.25em;
  }
}

a.news-link {
  display: block;
  margin-bottom: 0.5em;
}

#widget-footer
#logo-redhat {
    background: url(../images/redhat-logo.svg) no-repeat;
    display: block;
    height: 25px;
    text-indent: -9999px;
    width: 78px;
}

@media (max-width: 767px) {
  #widget-footer
  #logo-redhat {
  }

}
@media (min-width: 768px) {
  #widget-footer
  #logo-redhat {
    float: right;

  }
}

.tail {
  margin-top: 1em;
  text-align: right;
}

// make sure prettyprint does not override those rules
pre.prettyprint {
  padding: 1em !important;
  border: 1px solid #ccc !important;
}

// merge asciidoctor's tableblock style with patternfly's table table-striped table-bordered styles
table {
  @extend .table;
  @extend .table-striped;
  @extend .table-bordered;
}
