/**
 * Title font
 */

@import url('https://fonts.googleapis.com/css?family=Roboto');

h1, h2, h3, h4, h5 {
	font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/**
 * Banner
 */

.banner {
	margin-top: 20px;

	.logo {
		margin-top: 15px;
		float: left;
	}

	.ui.menu {
		margin-top: 0px;
		margin-bottom: 20px;
	}

	.dropup {
		float: right;
		position: relative;
	}
}

/**
 * Jumbotron
 */

.jumbotron {
	background-color: #FAFAFA;
	border-bottom: 1px solid #EEE;
	border-top: 1px solid #EEE;
	padding: 45px;

	h1 {
		color: #666;
		font-size: 3rem;
		letter-spacing: 2px;
	}

	h2 {
		font-size: 2rem;
		color: #888;
		margin-top: 20px;
		margin-bottom: 40px;
		letter-spacing: 1px;
	}

	.logo img {
		width: 180px;
		height: 180px;
	}

	&.small {
		padding: 20px;

		h1 {
			font-size: 2.3rem;
		}

		h2 {
			font-size: 1.7rem;
			margin-bottom: 0px;
		}
	}

	.jumbotron-button:not(:first-child) {
		margin-top: 10px;
	}
}

@media only screen and (max-width: 767px) {
	.jumbotron {
		padding: 25px;

		h1 {
			font-size: 2.3rem;
			letter-spacing: 1px;
		}

		h2 {
			font-size: 1.7rem;
			margin-top: 15px;
			margin-bottom: 25px;
		}

		.logo img {
			width: 128px;
			height: 128px;
		}
	}
}

/**
 * Hero
 */

.page-title {
	background-color: #EEE;
	border-bottom: 2px solid #DDD;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-bottom: 5px;

	&.small {
		padding-bottom: 15px;
		padding-top: 15px;
	}

	h1 {
		color: #59666c;
		letter-spacing: 2px;
		text-transform: uppercase;
		display: inline-block;
		padding-bottom: 3px;
	}

	h4 {
		color: #777;
		line-height: 1.5em;
		font-size: 1.2em;
	}
}

// when using "active" in the menu, the dropdown does not work anymore
// using "selected" instead
.ui.menu .selected.item {
	background: rgba(0, 0, 0, 0.05) none repeat scroll 0 0;
	box-shadow: none;
}

/**
 * Content
 */

.page-content {
	margin-top: 30px;
}

.content-banner {
	background-color: #f5fdf9;
	border-bottom: 1px solid #EEE;
	border-top: 1px solid #EEE;
	margin-top: 25px;
	margin-bottom: 25px;
	padding-bottom: 30px;
	padding-top: 30px;

	h2 {
		color: #888;
		letter-spacing: 1px;

		small {
			color: #999;
			font-weight: normal;
			letter-spacing: 0px;
			font-size: 70%;
		}
	}

	.news {
		margin-bottom: 10px;

		h3 {
			border-bottom: 0px;
			margin-bottom: 3px;
		}

		.date {
			color: #999;
			margin-bottom: 3px;
		}
	}
}

a {
	color: #18A33C;

	&:hover {
		color: #0A952E;
	}
}

#content {
	min-height: 350px;

	p, table td, table th, ul {
		font-size: 1.1em;
	}

	table td p, table td ul, ul ul, ul p {
		font-size: 1em;
	}

	li {
		margin-bottom: 0.4em;
	}

	dl {
		margin: 0 3% 2%;
	}

	dt {
		font-size: 1.1em;
		font-weight: bold;
		margin-bottom: 0.3em;
	}

	h2 {
		font-size: 1.7rem;
	}

	p {
		margin: 0 0 10px;
	}

	h2 {
		margin-top: 10px !important;
		color: #666;
		border-bottom: 3px solid #18A33C;
		display: inline-block;
		letter-spacing: 1px;
		padding-bottom: 3px;
	}

	.left-column h2:first-child {
		margin-top: 0 !important;
	}

	.feature-block:first-child > .sect1:first-child h2:first-of-type {
		margin-top: 0 !important;
	}

	h3 {
		margin-top: 10px !important;
		color: #666;
		font-size: 1.5em;
		margin-bottom: 15px;
	}

	h4 {
		margin-top: 15px !important;
		color: #888;
		font-size: 1.3em;
	}

	.sect1:not(:last-child) {
		margin-bottom: 20px;
	}

	.sect2:not(:last-child) {
		margin-bottom: 30px;
	}

	.sect3:not(:last-child) {
		margin-bottom: 20px;
	}

	:not(pre) > code {
		font-size: 0.9em;
		background-color: #F4F4F4;
		padding: .1em .5ex;
		padding-right: 3px;
		border-radius: 3px;
	}

	dl.sparse {
		dt {
			margin-top: 7px;
		}
	}

	.ui.message {
		.header {
			margin-bottom: 4px;
		}

		p:last-child {
			margin: 0;
		}
	}
}

.spec-buttons {
	margin-top: 50px;
	margin-bottom: 20px;

	a.ui.button {
		margin-bottom: 20px;
	}
}

.news h3, #toc #toctitle {
	color: #59666c;
	border-bottom: 2px solid #bcae79;
	display: inline-block;
	letter-spacing: 1px;
	padding-bottom: 3px;
}

.news h3 {
	margin-top: 10px !important;
}

hr {
	border: 0;
	border-top: 1px dotted #888;
	background-color: #fff;
}

pre {
	background: #f8f8f8 none repeat scroll 0 0;
	border: 1px solid #d5d5d5;
	margin: 1.5em 0;
	overflow: auto;
	padding: 1%;
	white-space: pre;
	border-radius: 0.3rem;
}

.page-title {
	background-color: #f5fdf9;
	border-bottom: 1px solid #EEE;
	border-top: 1px solid #EEE;
	margin-top: 25px;
	padding-bottom: 18px;
	padding-top: 18px;
	margin-bottom: 30px;

	.blog-title-bar {
		margin-bottom: 0px;

		.blog-author-bar {
			margin-top: -5px;
			margin-bottom: 0;
		}
	}
}

// Using an id here as the code is generated by Asciidoctor

#toc {
	float: right;
	margin-bottom: 1em;
	margin-left: 1em;
	position: static;
	top: 0;
	width: 30%;
	background-color: #fafafa;
	padding: 1em;
	border: 1px solid rgba(34, 36, 38, 0.15);
	border-radius: 0.3rem;
	box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);

	#toctitle {
		margin-top: 0px;
	}

	ul {
		padding-left: 1em;
	}

	> ul {
		margin-bottom: 5px;
	}

	li {
		margin-bottom: 0.3em;
	}

	> ul > li > ul > li {
		margin-left: 0.5em;
	}
}

// don't display the TOC on mobile
@media only screen and (max-width: 767px) {
	#toc {
		display: none;
	}
}

/**
 * Blog
 */

.blog-title-bar {
	overflow: hidden;
	margin-bottom: 15px;

	.blog-title-caption {
		overflow: hidden;
	}

	.blog-author-bar {
		color: #858585;

		padding-top: 3px;
		margin-top: -15px;
		line-height: 2.1em;
	}
}

.blogpost {
	padding-bottom: 15px;
	margin-bottom: 30px;

	border-bottom: 1px dotted #888;
}

.blog-title-bar h2 {
	font-size: 2em !important;
	border-bottom: 0 !important;
	margin-top: 0 !important;
}

.post-navigation {
	margin-top: 20px;
	margin-bottom: 20px;
}

.pagination {
	margin-bottom: 20px;
	margin-top: -10px;
}

.disqus-comments-link {
	text-align: center;
}

#disqus_thread {
	margin-top: 40px;
}

.blog-article {
	.content {
		max-width: 860px;
		margin: auto;
	}

	.blog-body {
		margin-bottom: 20px;
	}
}

/**
 * Asciidoctor styles
 */
.admonitionblock {
	table {
		background: #f8f8f9 none repeat scroll 0 0;
		border-radius: 0.285714rem;
		box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.22) inset, 0 0 0 0 rgba(0, 0, 0, 0);
		color: rgba(0, 0, 0, 0.87);
		line-height: 1.4285em;
		margin: 1em 0;
		min-height: 1em;
		padding: 1em 1.5em;
	}

	&.note table, &.tip table {
		box-shadow: 0 0 0 1px #a9d5de inset, 0 0 0 0 transparent;
			background-color: #f8ffff;
			color: #276f86;
	}

	&.warning table {
		box-shadow: 0 0 0 1px #c9ba9b inset, 0 0 0 0 transparent;
		background-color: #fffaf3;
		color: #573a08;
	}

	&.important table, &.caution table {
		box-shadow: 0 0 0 1px #e0b4b4 inset, 0 0 0 0 transparent;
		background-color: #fff6f6;
		color: #9f3a38;
	}

	.title {
		font-weight: bold;
		margin-bottom: .5em;
	}

	p {
		margin-bottom: 0px;
	}

	.fa {
		display: block;
		font-size: 2em;
		line-height: 1;
		opacity: 0.8;
		vertical-align: middle;
		width: auto;
		font-family: "Icons";
		font-style: normal;
		font-weight: normal;
		margin-right: 0.6em;
		text-align: center;
		text-decoration: inherit;
		height: 1em;
	}

	.fa::before {
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	}

	.fa.icon-note::before {
		content: "";
	}

	.fa.icon-tip::before {
		content: "";
	}

	.fa.icon-warning::before {
		content: "";
	}

	.fa.icon-caution::before {
		content: "";
	}

	.fa.icon-important::before {
		content: "";
	}
}

.quoteblock {
	margin-top: 20px;
	margin-bottom: 20px;
	color: rgb(101, 101, 101);

	blockquote {
		border-left: 5px solid #e6e7e8;
		position: relative;
		margin-left: 20px;
		margin: 1.5em 10px;
		padding: 0.5em 10px;
	}

	blockquote:before {
		color: #ccc;
		font-size: 3em;
		margin-top: 20px;
		display: block;
		font-family: "Icons";
		content: "\f10e";
		margin-bottom: 15px;
	}

	.paragraph {
		p:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	.attribution {
		text-align: right;
	}
}

// alternatively could use &#10122; through &#10131 to get the numbered circles,
// then style them as appropriate; would need to output them in the text, though
.conum {
	display: inline-block;
	color: white !important;
	background-color: #666;
	text-align: center;
	width: 20px;
	height: 20px;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	font-family: Arial, sans-serif;
	font-style: normal;
	position: relative;
	top: -2px;
	letter-spacing: -1px;

	& * {
	color: white !important;
	}

	// hack for when highlight.js adds a bogus element into DOM
	&:empty {
		display: none;
	}
}

pre .comment .conum {
	// coverup the comment
	left: -20px;
}

/**
 * News
 */

.ui.segment.news {
	background-color: #FAFAFA;

	h4 {
		margin-bottom: 5px;

		&:not(:first-child) {
			margin-top: 10px;
		}
	}

	small {
		color: #999;
	}
}

/**
 * Series overview
 */

#content .version {
	h3.ui.header {
		margin-top: 0;
		font-size: 3em;

		small {
			font-size: 0.3em;
			color: #AAA;
		}
	}
}

/**
 * Footer
 */

.footer {
	margin-top: 70px !important;

	&.segment {
		padding: 3em 0em;
	}

	.ui.inverted.divided.grid:not([class*="vertically divided"]) > .sponsor.column:not(.row),
	.ui.inverted.divided.grid:not([class*="vertically divided"]) > .row > .sponsor.column {
		box-shadow: none;
		text-align: right;
	}

	.sponsor {
		text-align: right;

		.logo:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}

/**
 * Semantic UI adjustments
 */
.ui.table thead th {
	background-color: #f4f4f4;
}

.ui.buttons .disabled.button, .ui.disabled.button, .ui.button:disabled, .ui.disabled.button:hover, .ui.disabled.active.button {
	opacity: 0.7 !important;
}

.ui.grid .column.divided {
	border-left: 1px solid #CCC;
}

@media only screen and (max-width: 767px) {
	.ui.stackable.divided:not(.vertically).grid > .column:not(.row),
	.ui.stackable.divided:not(.vertically).grid > .row > .column {
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
}

// Semantic UI has these classes, however they're only applicable to
// grids, containers, rows and columns.
// plus, there isn't any `mobile hidden`, `X hidden` class.
// this snippet is using the same class names and same approach
// plus a bit more but to all elements.
//
// see https://github.com/Semantic-Org/Semantic-UI/issues/1114

/* Mobile */
@media only screen and (max-width: 767px) {
		[class*="mobile hidden"],
		[class*="tablet only"]:not(.mobile),
		[class*="computer only"]:not(.mobile),
		[class*="or lower hidden"] {
		display: none !important;
	}
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	[class*="mobile only"]:not(.tablet),
	[class*="tablet hidden"],
	[class*="computer only"]:not(.tablet),
	[class*="or lower hidden"]:not(.mobile) {
		display: none !important;
	}
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) {
	[class*="mobile only"]:not(.computer),
	[class*="tablet only"]:not(.computer),
	[class*="computer hidden"],
	[class*="or lower hidden"]:not(.tablet):not(.mobile) {
		display: none !important;
	}
}

/**
 * Some simple print utilities
 */

@media only print {
	[class*="print hidden"] {
		display: none !important;
	}
}

@media only screen {
	[class*="print only"] {
		display: none !important;
	}
}

/**
 * Bootstrap utilities
 */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

.text-left {
	text-align: left !important;
}

.text-justify {
	text-align: justify !important;
}

.clearfix {
	&::after {
		display: block;
		clear: both;
		content: "";
	}
}

/**
 * Mobile menu
 */

.mobile-menu-button-bar {
	background-color: #444;
	border-bottom: 1px solid black;
	padding: 10px;

	a.item {
		cursor: pointer;
		color: white;

		&:hover {
			color: #DDD;
		}
	}
}

.ui.menu#mobile-menu {
	background-color: black;

	a.item:hover, a.item.selected {
		background: rgba(255, 255, 255, 0.10);
		color: #ffffff;
	}
}

/**
 * YouTube video embeds
 */

.responsive-video {
	position: relative;
	padding-bottom: 56.25%; /* Default for 1600x900 videos 16:9 ratio*/
	padding-top: 0px;
	margin-bottom: 10px;
	height: 0;
	overflow: hidden;

	iframe {
		position: absolute;
        	top: 0;
        	left: 0;
        	width: 100%;
        	height: 100%;
	}
}

@import 'table'
