---
layout: base
---
#layout
  #primary
    #header
      :markdown
        [home](/) |
        [road map](/roadmap) |
        [mailing list](https://lists.jboss.org/mailman/listinfo/beanvalidation-dev) |
        [forum](https://forum.hibernate.org/viewforum.php?f=26) |
        [bug tracker](/issues) |
        specification repository (TBD) |
        [spec repositories](https://github.com/beanvalidation/) |
        [ri repository](https://github.com/hibernate/hibernate-validator)
    ~ content

  #footer
    .text
      Copyright (c) Emmanuel Bernard