---
layout: base
---
#layout
  #primary
    #header
      :markdown
        [home](/) |
        [spec](/1.1) |
        [tck](/1.1/tck) |
        [ri](/1.1/ri) |
        [contribute](/contribute) |
        [licensing](/licensing)
    ~ content
    - if (page.comments == true)
      = page.disqus_comments

  #footer
    .text
      Copyright (c) Red Hat, Inc., Emmanuel Bernard
