---
layout: base
---

.jumbotron.small
  .ui.container
    %h1= site.title
    %h2= page.title

.ui.container.page-content
  .content#content
    ~ content

    - if (page.comments == true)
      %hr
      = page.disqus_comments
