---
layout: base
---
#overview.container
  #content.clearfix.row
    #main.col-sm-12.col-md-12.col-lg-12.clearfix
      %h1 #{page.title}

      ~ content

      - if (page.comments == true)
        = page.disqus_comments
