---
layout: news_base
---

%article.post
  = partial('article_header.html.haml', { :title => page.title, :author => page.author, :date => page.date,  :tags => page.tags})
  .body
    ~ content
  %footer
    #post-navigation
      .previous
        - if page.previous_post
          &laquo;
          %a{:href => relative(page.previous_post.url)} #{page.previous_post.title}
      .next
        - if page.next_post
          &raquo;
          %a{:href => relative(page.next_post.url)} #{page.next_post.title}

    #{page.disqus_comments}
