---
layout: base
---

.jumbotron.small
  .ui.container
    %h1= site.title
    %h2= page.title

.ui.container.page-content#content
  .ui.grid.stackable
    .column.twelve.wide
      .content
        ~content

    .column.four.wide.left-column
      %h2 Latest news
      %p
        Stay up to date, subscribe to the&nbsp;
        %a{:href=>"/news/news.atom"}>< news feed
        \.
      .ui.menu.vertical.fluid
        - for post in site.posts
          %a.item.news-link{:href => post.url} #{post.title}

